SSO-BusinessLogic/Connected Services/WSAD/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AD.res">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdUser" nillable="true" type="tns:AD.AdUser" />
      <xs:element minOccurs="0" name="code" type="xs:int" />
      <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ok" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AD.res" nillable="true" type="tns:AD.res" />
  <xs:complexType name="AD.AdUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="CN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailUPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SamAcountName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AD.AdUser" nillable="true" type="tns:AD.AdUser" />
</xs:schema>